## Palabras

In [56]:
words = ['play', 'filling', 'bar', 'theatre', 'easygoing', 'date', 'lead', 'that', 'story',  'island']

**Imprime todas las letras en mayuscula**

In [57]:
for i in words:
    print(i.upper())

PLAY
FILLING
BAR
THEATRE
EASYGOING
DATE
LEAD
THAT
STORY
ISLAND

**Crea una nueva lista que contenga 5 o más letras**

In [58]:
new_words=list()
for i in words:
    if len(i)>=5:
        new_words.append(i)
print(new_words)

['filling', 'theatre', 'easygoing', 'story', 'island']

**Imprime la primera palabra que empiece por 't'**

In [59]:
for i in words:
    if i.startswith("t"):
        print(i)
        break

theatre

## Numeros

**Crea una lista que contenga el cuadraro de cada numero entre 1 y 10**

In [60]:
numbers=list()
for i in range(1,11):
    numbers.append(i**2)

**Imprime una lista que contenga el cuadrado de cada número impar del 1 al 10**

In [61]:
numbers_impar=list()
for i in range(1,11):
    if i % 2 != 0:
        numbers_impar.append(i**2)
print(numbers_impar)

[1, 9, 25, 49, 81]

**Crear una lista con los cuadrados de todos los múltiplos de 8 por debajo de 1000**

In [62]:
numbers_multiplos=list()
for i in range(1,1001):
    if i % 8 == 0:
        numbers_multiplos.append(i**2)

## People

In [63]:
people = [
    {
        "name": "Juan",
        "age": 34,
        "n_kids": 2
    },
    {
        "name": "Pepe",
        "age": 27,
        "n_kids": 0
    },
    {
        "name": "Sonia",
        "age": 41,
        "n_kids": 1
    },
    {
        "name": "Lucía",
        "age": 22,
        "n_kids": 2
    },
    {
        "name": "Leo",
        "age": 55,
        "n_kids": 5
    }
]

**Cuánta gente hay?**

In [64]:
len(people)

5

**Cuanta gente tiene hijos**?

In [65]:
total_hijos=0
for i in people:
    if i["n_kids"]>0:
        total_hijos+=1
print(total_hijos)

4

**Cuantos hijos tienen en total?**

In [66]:
n_hijos=0
for i in people:
    if i["n_kids"]>0:
        n_hijos+=i.get("n_kids")
print(n_hijos)

10

**En un año, los nombres que terminen en "a" tendrán un niño extra. Crea una lista de diccionarios con la información de las personas en un año**

In [67]:
people_year=people.copy()
for i in people_year:
    hijos_actual=i.get("n_kids")
    edad_actual=i.get("age")
    if i.get("name").endswith("a"):
        hijos_actual+=1
        edad_actual+=1
        i.update({"n_kids":hijos_actual})
        i.update({"age":edad_actual})
print(people_year)

[{'name': 'Juan', 'age': 34, 'n_kids': 2}, {'name': 'Pepe', 'age': 27, 'n_kids': 0}, {'name': 'Sonia', 'age': 42, 'n_kids': 2}, {'name': 'Lucía', 'age': 23, 'n_kids': 3}, {'name': 'Leo', 'age': 55, 'n_kids': 5}]